.benefits {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.benefits__item {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 4 * 30px) / 4);
  }
}

.benefits__title {
  margin-bottom: 10px;

  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;

  text-transform: uppercase;
  color: var(--title-text-color);

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.benefits__container {
  display: flex;
  height: 120px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: #f5f4fa;
}

.benefits__icon {
  width: 70px;
  height: 70px;
}
