:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --basic-white-color: #ffffff;
    --basic-dark-color: #2F303A;
    --primary-icon-color: #AFB1B8;
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
}